{% extends 'index.html' %}
{% block hf %}
<div class="container mt-4 h-100">
  <div class="card border-0">
    <div class="card-header text-center bg-info text-white "><h2>Forgot password</h2></div>
    <div class="card-body text-center">
      <form method="post" class="form-group">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 pt-2 m-0 text-right"><h5>Email Id</h5></div>
          <div class="col-md-4 text-left">{{ form.email }}</div>
          
        </div>
        <div class="row mt-4 text-center">
          <div class="col">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  
{% endblock %}