{% extends 'home.html' %}
{% load static %}
{% block hf %}

<div class="container-fluid  p-4 mt-2 mb-2 " style = "min-height: 100vh;">
    <div class="container-abt " data-aos="fade-down">

        <div class="container-header">About Us </div>
          
        <p>Paramakudi Government Arts College is one of the affiliated College of Karaikudi Alagappa University. It was established in 1995-1996 by Tamilnadu Government. It was Accredited by NAAC with B. Initially it has been B.Sc.,(Computer Science), B.Sc.,(Bio-Chemistry), BBA, B.Com.,(Company Secretary). B.Sc.,(Electronics) Department was introduced in 1996-1997. In 2004-2005 Tamilnadu Government permitted to start the MBA course. In 2012 new course started with B.A. History, B.Sc. Chemistry.</p>
        <p>Tamilnadu Government was introduce two SHIFT method(Morning shift(9.00-1.30), Evening shift(1.30-6.00) for poor student's higher studies. M.Sc.,(computer science) was started in 2008-2009. & 2012 stated new courses M.A. Tamil, M.A. English, M.sc Maths, and M.Phil (Commerce, Management, Electronics), Ph.D (Management, Electronics). Our college also contains library and Laboratory for several departments separately. The important goal of Paramakudi Government Arts College is serve higher studies to poor people and teach Love, Discipline, Knowledge to students.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quaerat, ab odio modi eaque ipsa reprehenderit quod fugit. Cum, porro similique. Quisquam deleniti cum nostrum aut vel, nemo porro vero ullam eius accusamus officia, laudantium sint adipisci hic. Similique pariatur sapiente nobis quaerat repellendus laudantium nostrum impedit at, officiis voluptates. Veritatis aut molestias eos. Incidunt, quae fugiat laboriosam temporibus necessitatibus ipsum asperiores deserunt esse distinctio itaque obcaecati, voluptates dicta omnis inventore expedita! Assumenda ex vel autem modi dicta? Autem odit eum quod enim quis laudantium magnam facilis cumque dignissimos, doloribus possimus velit officiis maiores assumenda pariatur necessitatibus magni eaque saepe?</p>
    </div>

</div>
<div class="container-fluid mt-2 mb-2 p-3  text-center">

  <div class="counters" data-aos="slide-up" data-aos-delay = 800>
    
    <img src="{% static 'Images/About us/students.png' %}" class=" rounded img-fluid">
    <p class="number mt-3 mb-3"> 12000</p>
    <h3 class="mt-2 mb-4 " data-aos="fade-up"> Successfull Graduates </h3>
  </div>
  <div class="row counters">
    <div class="col border-right border-dark" data-aos="slide-right" data-aos-delay="600">
      <img src="{% static 'Images/About us/staffs.png' %}" class=" rounded img-fluid">
      <p class="number mt-3 mb-3"> 1000</p>
      <h3 class="mt-2 mb-4 " data-aos="fade-up">  Professors </h3>
    </div>
    <div class=" col" data-aos="slide-left" data-aos-delay="600">
      <img src="{% static 'Images/About us/rankholders.png' %}" class=" rounded img-fluid">
      <p class="number mt-3 mb-3"> 500</p>
      <h3 class="mt-2 mb-4 " data-aos="fade-up"> University Rank Holders </h3>
    </div>
  </div>
  
  <div class="counters" data-aos="zoom-in" data-aos-delay="700">
    
    <img src="{% static 'Images/About us/noofstu.png' %}" class=" rounded img-fluid">
    <p class="number mt-3 mb-3"> 3000</p>
    <h3 class="mt-2 mb-4 " data-aos="fade-up"> Number of Students </h3>
  </div>

  
</div>


<div class="container-fluid bg-light border p-4 mt-2">
  <div class="container-abt " data-aos="fade-down">
    <div class="container-header">History </div>
      <p>Paramakudi Government Arts College is one of the affiliated College of Karaikudi Alagappa University. It was established in 1995-1996 by Tamilnadu Government. It was Accredited by NAAC with B. Initially it has been B.Sc.,(Computer Science), B.Sc.,(Bio-Chemistry), BBA, B.Com.,(Company Secretary). B.Sc.,(Electronics) Department was introduced in 1996-1997. In 2004-2005 Tamilnadu Government permitted to start the MBA course. In 2012 new course started with B.A. History, B.Sc. Chemistry.</p>
      <p>Tamilnadu Government was introduce two SHIFT method(Morning shift(9.00-1.30), Evening shift(1.30-6.00) for poor student's higher studies. M.Sc.,(computer science) was started in 2008-2009. & 2012 stated new courses M.A. Tamil, M.A. English, M.sc Maths, and M.Phil (Commerce, Management, Electronics), Ph.D (Management, Electronics). Our college also contains library and Laboratory for several departments separately. The important goal of Paramakudi Government Arts College is serve higher studies to poor people and teach Love, Discipline, Knowledge to students.</p>
    </div>
    <div class="container-abt " id="about" data-aos="fade-down">
      <div class="container-header"> Vision Statement </div>
        <p class="text-center text-danger"> Government Arts College, Paramakudi will be a center for Higher Education to Enrich Enlighten and Empower the youth from rural to build a strong and modern nation.</p>
    </div>    
    <div class="container-abt " id="about" data-aos="fade-down">
      <div class="container-header"> Mission Statement </div>
        <p class="text-center text-danger">  Our mission is to impart innovative and traditional Arts and Science Courses to the rural youth at an affordable cost and make every student employable through the development of right skills in the right time.</p>
    </div>    
</div>

<div class="container-fluid bg-light p-4 mt-2 ">
  <div class="container-abt" data-aos="fade-down">
    <div class="container-header">Objective</div>
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To achieve academic excellence in Engineering, Technology, Computer Applications and Management Education.</p>
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To provide quality education</p>
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To provide skill based education</p>
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To enhance the moral and ethical value of the student.</p>
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To develop aptitude and skills of students to equip them to face the challenges and needs of a fast changing society.</p>
    <!-- <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To give greater opportunity to women and other weaker and socio-economically backward sections of the society in order to prepare them to be effective leaders.</p> -->
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To inculcate values of equality, unity and justice.</p>
    <p class="text-justify"> <i class="fa fa-handshake-o pr-3" aria-hidden="true"></i>To emerge as a centre for academic excellence and research</p>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function($) {
            $('.number').counterUp({
                delay: 10,
                time: 1000
            });
        });
</script>
{% endblock %}