{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Activities</title>
</head>
<body>

    <!-- navbar -->
        {% include "h2.html" %}
    <!-- navbar ends -->
    <div class="abg1">
        <label class="alabel"> Sports</label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
      </div>

    <div class="abg2">
        <label class="alabel"> Library</label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>

    <div class="abg2">
        <label class="alabel"> NSS </label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>

    <div class="abg2">
        <label class="alabel"> RRC </label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>

    <div class="abg2">
        <label class="alabel"> PTA </label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>

    <div class="abg2">
        <label class="alabel"> Fine Arts Club </label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>

    <div class="abg2">
        <label class="alabel"> Soft skill center </label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">


        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>

    <div class="abg2">
        <label class="alabel"> CLP </label>
    </div>

    <div class="container col-10 " id="" data-aos="fade-down">

        <br>
        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis odio impedit, sequi maxime est velit sunt magni facilis temporibus architecto quisquam, voluptatibus modi! Dolorum, quod tempora exercitationem est non sed suscipit nulla itaque reiciendis. Pariatur voluptatem, provident, distinctio laudantium atque aliquam amet, cum enim debitis nobis dolore porro voluptas consequatur magni unde vitae perspiciatis ratione tempore odio. Aspernatur molestiae corporis sunt labore quo aliquid iure maiores recusandae repellendus error optio saepe aut, repudiandae ut harum velit quas architecto! Blanditiis delectus distinctio quidem molestiae laboriosam hic? Adipisci exercitationem modi optio deleniti. Unde dolor error suscipit incidunt quis ut, beatae repellendus.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora molestias, quae quibusdam sit a expedita architecto similique. Veniam qui, voluptatem excepturi adipisci sunt odio rem, ullam exercitationem at ipsum nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, perferendis beatae. Quam dicta expedita quaerat odio in porro mollitia tenetur! Delectus id eligendi tenetur odio reiciendis inventore quam. Totam doloribus sint atque repudiandae delectus, rerum neque maiores similique! Quod quas mollitia est et quam odio totam inventore nulla suscipit? </p>
        
    </div>
    <!-- footer -->
        {% include "footer.html" %}
    <!-- footer ends -->
</body>
<script  src="{% static 'js/script.js' %}"></script>  
<script src="{% static 'js/jquerys.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</html>