{% load static %}
<!-- footer -->

<div class="footer">
  <div class="fo-row">
    <div class="frst" data-aos="slide-up" data-aos-delay="0">
      <div class="foo-heading mt-3">
        Visit our <span class="text-success">#</span>Gac
        
      </div>
      <div class="foo-content" id="map" data-aos="slide-up" data-aos-delay="200">
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.7451654314164!2d78.59935641430938!3d9.530855383552034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbf9abff05881aa6!2sGovt%20Arts%20College%2C%20Paramakudi!5e0!3m2!1sen!2sin!4v1577167452897!5m2!1sen!2sin" id="map" allowfullscreen=""></iframe></p>   
      </div>
    </div>

    <div class="secnd" data-aos="slide-right" data-aos-delay="300">
      <div class="foo-heading mt-3">
        Quick links
      </div>
      <div class="foo-links" data-aos="fade-up" data-aos-delay="400">
        <ul class="mt-2">
          <li><a href="{% url 'login' %}" > Student Login </a></li>
          <li><a href="{% url 'register' %}"> Register</a></li>
          <li><a href="{% static 'files/admission_ug.pdf' %}" target="_blank"> Admission </a></li>
          <li><a href="http://exam.alagappauniversity.ac.in/regular_department/exam/student/result_all.php" target="_blank"> Results </a></li>

        </ul>
      </div>
    </div>

    <div class="thrd" data-aos="flip-up" data-aos-delay="600">
      <div class="foo-heading mt-3">
        Follow Us On
      </div>
      <div class="foo-follow mt-3" data-aos="fade-down" data-aos-delay="800">
        <ul class="social-icons " style="padding:4px; font-size:20px; margin-top:10px;">
          <li><a href="https://www.facebook.com" class="social-icon" target="_blank"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com" class="social-icon" target="_blank"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com" class="social-icon" target="_blank"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.rss.com" class="social-icon" target="_blank"> <i class="fa fa-rss"></i></a></li> 
          </ul> 
      </div>
    </div> 
  </div>
</div>



<!--         <p> Follow Us On Via</p>
        <ul class="social-icons" style="padding:4px; font-size:20px; margin-top:10px;">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li> 
        </ul> 
      
      
      <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.7451654314164!2d78.59935641430938!3d9.530855383552034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbf9abff05881aa6!2sGovt%20Arts%20College%2C%20Paramakudi!5e0!3m2!1sen!2sin!4v1577167452897!5m2!1sen!2sin" id="map" allowfullscreen=""></iframe></p>    
      -->