{% load static %}
<div class="top-fotter">
	<div style="text-align:left;" class="p-1">
	  &copy 2020 - 2021 Government Arts College
	</div>
	<div style=" text-align: right;">
	  <i class="pl-1 fa fa-phone social-icon" style="font-size:1em;"><i class="pl-2">04564-231652</i></i>
	  
	  <i class="fa fa-envelope social-icon" style="font-size: 1em;"><a href="mailto:edu.gacpmk.in" class="pl-2">Edu.gacpmk.in</a></i>
	  
	  </div>
  </div>  
  
  <div id="navbar" >
	<div class="navimg navbar-brand nav-tabs">
	  <img src="{% static 'Images/logoimg.jpg' %}">
	</div>
	<div class="head-center">
	  <a href="http://127.0.0.1:8000/" class="btn nav-item">Home</a>
	  <a href="#about" class="btn nav-item">About Us</a>
	  <a href="#department" class="btn nav-item">Departments</a>
	  <a href="{% url 'activities' %}" class="btn nav-item">Activities</a>
	  <a href="http://tndce.in" target="_blank" class="btn nav-item dropbtn">Desk  </a>
	  <a href="#" class="btn nav-item">IQAC</a>
	  
	</div>
  </div>
  