{% extends 'index.html' %}
{% load static %}
{% block title %} Principal {% endblock %}
{% block hf %} 



<div class="container-fluid p-5 ">
  <div class="row border-bottom border-dark rounded">
    <div class="col col-md-2">
      <img src="{% static 'Images/card-boy.jpg' %}" alt="prince" class="img img-responsive img-thumbnail rounded">
    </div>
    <div class="col col-md rounded  p-5">
        <h4 class=" text-left font-weight-bold font-italic  prince_title">Prof. Poornachandhiran</h4>
        <p class="prince_post  font-italic font-weight-bold"> Post Name </p>
        <p class=" font-weight-bold prince_desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit tempore vel magnam eum a quis officiis tenetur, odio, non hic neque quisquam? Temporibus, nam! Tempora reprehenderit aliquid voluptatum dolorem ipsa! </p>
        

    </div>
  </div>
  <div class="container-fluid p-4  mt-5 rounded text-justify prince_max_desc ">
    <p class=""> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt?</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt?</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt?</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt?</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam aperiam necessitatibus natus minima laboriosam architecto aliquam quidem a officia iure porro impedit ipsa perspiciatis veniam, rerum sit, voluptatibus alias sunt?</p>
    

  </div>
</div>

  

</div>

{% endblock %}
